<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
  <span itemprop="author">
    {{ with .Params.authors }}
      {{.}}
    {{- end -}}
  </span>
  ({{- .Date.Format "2006" -}})
  <!-- <a href="{{ .RelPermalink }}" itemprop="name">{{ .Title }}</a>. -->
  {{ if .Params.url_pdf }}
    <a href="{{ .Params.url_pdf | relURL }}" itemprop="name">{{ .Title }}</a>
  {{ else }}
    <strong>{{ .Title }}</strong>
  {{- end -}}
  {{ with .Params.publication}}
    <em>{{.}}</em>, 
  {{- end -}}
  {{ with .Params.edition }}
    <em>{{.}}</em>, 
  {{- end -}}
  {{ with .Params.pages }}
    pp. {{.}}
  {{- end -}}
</div>
